<li>
  <a href="/feature/{{_id}}"><img src={{img}} alt="Image"></a>
  <div>
    <h3><a href="/feature/{{id}}">{{title}}</a></h3>
    {{#if isEven}}
    <div>
      <p>
        {{description}}
      </p>

      <ul>
        {{#each ingr}}
        <li>{{title}}</li>
        {{/each}}
      </ul>

    </div>
    {{else}}
    <p>
      {{description}}
    </p>
    {{/if}}
  </div>
</li>