<div id="content">
  <div>
    <div>
      <h3>{{data.title}}</h3>
      <p>
        {{data.description}}
      </p>
      <a href="/"><img src={{ data.bigImagePath }} alt="Image"></a>
      <h5>INGREDIENTS</h5>
      <ol class="ingredients">
        {{#each data.Ingredients}}
        <li>
          {{quantity}} {{title}}
        </li>
        {{/each}}
      </ol>
      <h5>DIRECTIONS</h5>
      <ol class="directions">
        {{#each data.Directions}}
        <li>
          {{description}}
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>